
/**********HERO_SLIDE**********/

.swiper {
    width: 100%;
}

.hero__slider-box {
    position: relative;
    overflow: hidden;
}

.hero__slider {
    position: absolute;
    height: 100%;
}

.hero__slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.hero__slider-content {
    position: relative;
    padding-top: 200px;
    padding-bottom: 450px;
    z-index: 10;
}

.hero__senior-title {
    margin-bottom: 80px;
    color: var(--white);
    font-weight: 700;
}

.hero__slider-link {
    padding: 16px 72px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--dark);
    font-weight: 600;
    transition: color 0.15s ease-in-out;
}

.hero__slider-link:hover {
    color: var(--purple);
}

/**********NEW_SLIDE**********/

.new__slider {
    width: 1238px;
    padding: 0 35px;
}

.new__img-box {
    position: relative;
    min-width: 263px;
    min-height: 263px;
    margin-bottom: 33px;
}

.new__link-card {
    position: absolute;
    inset: 0;
}

.new__img-card {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.new__body-link {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);
}

.new__swiper-button-prev {
    top: 145px;
    left: 5px;
}

.new__swiper-button-prev::after {
    content: '';
}

.new__swiper-button-prev svg, .new__swiper-button-next svg {
    width: 20px;
    height: 20px;
}

.new__swiper-button-next::after {
    content: '';
}

.new__swiper-button-next {
    top: 145px;
    right: 5px;
}