<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('styles/normalize.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="header__logo">
                    <a class="header__logo-link" href="#">
                        <img src="{{ asset('images/logo.png') }}">
                    </a>
                </div>
                <div class="header__nav-container">
                    <nav class="header__nav">
                        <ul class="header__nav-item list-reset">
                            <li class="header__nav-items">
                                <a href="#" class="header__nav-link">
                                    Главная
                                </a>
                            </li>
                            <li class="header__nav-items">
                                <a href="#" class="header__nav-link">
                                    Мужчины
                                </a>
                            </li>
                            <li class="header__nav-items">
                                <a href="#" class="header__nav-link">
                                    Женщины
                                </a>
                            </li>
                            <li class="header__nav-items">
                                <a href="#" class="header__nav-link">
                                    Новинки
                                </a>
                            </li>
                            <li class="header__nav-items">
                                <a href="#" class="header__nav-link">
                                    Скидки
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <input type="search" placeholder="Поиск" class="header__search">
                <div class="header__button">
                    <ul class="header__button-items list-reset">
                        <li class="header__button-item">
                            <button class="header__button-like btn-reset">#</button>
                        </li>
                        <li class="header__button-item">
                            <button class="header__button-account btn-reset">#</button>
                        </li>
                        <li class="header__button-item">
                            <button class="header__button-basket btn-reset">#</button>
                        </li>
                    </ul>
                </div>
            </header>
        </div>



        {% block main %}{% endblock %}
    </body>
</html>
